/*-----------------------------------PAGE--------------*/

html, body {
    margin:0px;
    padding:0px;
    height:100%;
    overflow: auto;
}
body .page {
    min-height: 100%;
    position: relative;
    background: #37dcff;
    background: linear-gradient(#37dcff, #5effee);
}

/*-----------------------------------HEADER------------*/
div#header-center {
    padding: 0;
}
div#header-right {
    padding: 0;
}
body .page .header nav {
    background: #5c6976;
    background: linear-gradient(#5c6976, #535c5c);
    margin-bottom: 0;
}
body .page .header nav li{
    display: inline;
}
.navbar-default .navbar-brand {
    padding: 3% 5% 1%;
}
.navbar-brand img{
    height: 90%;
}
body .page .header nav li:hover {
    background: #3d4444;
    background: linear-gradient(#4d5863, #3d4444);
}
body .page .header nav li>a:hover {
    color: #ffffff;
    text-shadow: 1px 1px #787878;
}
body .page .header nav li>a{
    color: #ffffff;
}
body .page .header nav li>a:focus{
    color: #37dcff;
}
body .page .header nav .log-out {
    display: none;
}

@media (max-width: 1200px) {
    .navbar-brand img{
        height: 80%;
    }
    .navbar-default .navbar-brand {
        padding: 0.5em 0.4em 0;
    }
}

/*--------------------------------BODY--------------*/

div#body-center {
    background-color: rgba(255,255,255, .5);
    height: 100%;
    padding: 0 15px 15px;
}
.body {
    background-color: #ffffff;
    padding: 2% 2% 5%;
    height: 100%;
}
.content {
    margin: 0 auto;
}
@media (max-width: 1200px) {
    div#body-left,
    div#body-right {
        min-height: 0px;
    }
}
@media (min-width: 1200px) {
    div#body-left,
    div#body-right {
        min-height: 1px;
    }
}

/*-------------------------------FOOTER------------*/

.footer {
    position:relative;
    text-align:center;
    height:30px;
}
div#footer-center {
    background-color: rgba(255,255,255, .5);
    min-height: 0;
}
@media (max-width: 1200px) {
    div#footer-left,
    div#footer-right {
        min-height: 0px;
    }
}
@media (min-width: 1200px) {
    div#footer-left,
    div#footer-right {
        min-height: 1px;
    }
}

/*------------------------------OVERALL------------*/

div#body-center .container {
    width: inherit;
}
.box-table-a input{
    width: 100%;
}
.box-table-a {
    margin-right: auto;
}
.login {
    width:250px;
}
.glyphicon-minus {
    color: #a9a9a9;
}
.glyphicon-ok {
    color: #3bcaff;
}
button:disabled {
    color: #888888;
}
.text-center .pagination {
    margin: 0px;
}
.body input[type=search] {
    -webkit-appearance: searchfield;
}