<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softserveinc.if052_restful.mappers.AddressMapper">

    <resultMap type="Address" id="AddressResult">
        <id property="addressId" column="address_id"/>
        <result property="city" column="city"/>
        <result property="street" column="street"/>
        <result property="building" column="building"/>
        <result property="apartment" column="apartment"/>
        <association property="user" resultMap="com.softserveinc.if052_restful.mappers.UserMapper.UserSimpleResult"/>
        <collection property="waterMeters" ofType="WaterMeter"
                    resultMap="com.softserveinc.if052_restful.mappers.WaterMeterMapper.WaterMeterSimpleResult"
                    columnPrefix="watermeter_"/>
    </resultMap>

    <resultMap id="AddressSimpleResult" type="Address">
        <id property="addressId" column="address_id" />
        <result property="city" column="city" />
        <result property="street" column="street" />
        <result property="building" column="building" />
        <result property="apartment" column="apartment" />
    </resultMap>



    <select id="getAddressById" parameterType="int" resultMap="AddressResult">
        SELECT
        a.address_id,
        a.city,
        a.street,
        a.building,
        a.apartment,
        a.user_id,

        u.user_id,
        u.name,
        u.surname,
        u.middle_name,
        u.login,
        u.password,
        u.tariff,

        wm.water_meter_id as watermeter_water_meter_id,
        wm.name as watermeter_name,
        wm.description as watermeter_description
        FROM address a
        LEFT OUTER JOIN watermeter wm ON a.address_id = wm.address_id
        LEFT OUTER JOIN user u ON a.user_id = u.user_id
        WHERE a.address_id = #{addressId}
    </select>

    <select id="getAddressesByUserId" parameterType="int" resultMap="AddressSimpleResult">
        SELECT
        address_id,
        city,
        street,
        building,
        apartment,
        user_id
        FROM address
        WHERE user_id = #{userId}
    </select>

    <select id="getAllAddresses" resultMap="AddressSimpleResult">
        SELECT
        address_id,
        city,
        street,
        building,
        apartment
        FROM address
    </select>

    <insert id="insertAddress" parameterType="Address" useGeneratedKeys="true" keyProperty="addressId">
        INSERT INTO address(city, street, building, apartment, user_id)
        VALUES(#{city}, #{street}, #{building}, #{apartment}, #{user.userId})
    </insert>

    <update id="updateAddress" parameterType="Address">
        UPDATE address
        SET
        city= #{city},
        street = #{street},
        building = #{building},
        apartment = #{apartment},
        user_id = #{user.userId}
        WHERE address_id = #{addressId}
    </update>

    <delete id="deleteAddress" parameterType="int">
        DELETE FROM address WHERE address_id = #{addressId}
    </delete>

</mapper>
