<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softserveinc.if052_restful.mappers.AddressMapper">

    <resultMap type="Address" id="AddressResult">
        <id property="addressId" column="address_id"/>
        <result property="city" column="city"/>
        <result property="street" column="street"/>
        <result property="building" column="building"/>
        <result property="apartment" column="apartment"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <select id="getAddressById" parameterType="int" resultMap="AddressResult">
        SELECT
        address_id,
        city,
        street,
        building,
        apartment,
        user_id
        FROM address
        WHERE address_id = #{addressId}
    </select>

    <select id="getAllAddresses" resultMap="AddressResult">
        SELECT
        address_id,
        city,
        street,
        building,
        apartment,
        user_id
        FROM address
    </select>

    <insert id="insertAddress" parameterType="Address" useGeneratedKeys="true" keyProperty="addressId">
        INSERT INTO address(city, street, building, apartment, user_id)
        VALUES(#{city}, #{street}, #{building}, #{apartment}, #{userId})
    </insert>

    <update id="updateAddress" parameterType="Address">
        UPDATE address
        SET
        city= #{city},
        street = #{street},
        building = #{building},
        apartment = #{apartment},
        user_id = #{userId}
        WHERE address_id = #{addressId}
    </update>

    <delete id="deleteAddress" parameterType="int">
        DELETE FROM address WHERE address_id = #{addressId}
    </delete>

</mapper>
