<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softserveinc.if052_restful.mappers.IndicatorMapper">

    <!-- Result map for representation of water meter indicators -->
    <resultMap id="IndicatorResult" type="Indicator">
        <id property="indicatorId" column="indicator_id"/>
        <result property="date" column="date"/>
        <result property="tariffPerDate" column="tariff_per_date"/>
        <result property="value" column="value"/>
        <result property="paid" column="is_paid"/>
        <result property="published" column="is_published"/>
        <association property="waterMeter"
                     resultMap="com.softserveinc.if052_restful.mappers.WaterMeterMapper.WaterMeterSimpleResult"/>
    </resultMap>

    <!-- Result map for representation of indicator -->
    <resultMap id="IndicatorSimpleResult" type="Indicator">
        <id property="indicatorId" column="indicator_id"/>
        <result property="date" column="date"/>
        <result property="tariffPerDate" column="tariff_per_date"/>
        <result property="value" column="value"/>
        <result property="paid" column="is_paid"/>
        <result property="published" column="is_published"/>
    </resultMap>

    <resultMap id="DateResult" type="java.util.Date">
        <result property="date" column="m_date"/>
    </resultMap>

    <select id="getIndicatorById" parameterType="int" resultMap="IndicatorResult">
        SELECT
        i.indicator_id,
        i.date,
        i.tariff_per_date,
        i.value,
        i.is_paid,
        i.is_published,
        wm.water_meter_id,
        wm.name,
        wm.description,
        wm.tariff
        FROM indicator i
        LEFT OUTER JOIN watermeter wm on i.water_meter_id = wm.water_meter_id
        WHERE indicator_id = #{indicatorId}
    </select>

    <select id="getIndicatorsByDates" parameterType="map" resultMap="IndicatorResult">
        SELECT
        i.indicator_id,
        i.date,
        i.tariff_per_date,
        i.value,
        i.is_paid,
        i.is_published,
        wm.water_meter_id,
        wm.name,
        wm.description,
        wm.tariff
        FROM indicator i
        LEFT OUTER JOIN watermeter wm on i.water_meter_id = wm.water_meter_id
        WHERE i.date BETWEEN parsedatetime(#{startDate}, 'yyyy-MM-dd HH:mm:ss')
        AND parsedatetime(#{endDate}, 'yyyy-MM-dd HH:mm:ss')
        AND i.water_meter_id = #{waterMeterId}
        ORDER BY i.date ASC
    </select>


    <select id="getAllIndicators" resultMap="IndicatorResult">
        SELECT
        i.indicator_id,
        i.date,
        i.tariff_per_date,
        i.value,
        i.is_paid,
        i.is_published,
        wm.water_meter_id,
        wm.name,
        wm.description
        FROM indicator i
        LEFT OUTER JOIN watermeter wm on i.water_meter_id = wm.water_meter_id
    </select>

    <select id="getIndicatorsByMeterId" resultMap="IndicatorResult">
        SELECT
        i.indicator_id,
        i.date,
        i.tariff_per_date,
        i.value,
        i.is_paid,
        i.is_published,
        wm.water_meter_id,
        wm.name,
        wm.description,
        wm.tariff
        FROM indicator i
        LEFT JOIN watermeter wm on i.water_meter_id = wm.water_meter_id
        WHERE wm.water_meter_id = #{waterMeterId}
        ORDER BY i.date ASC
    </select>

    <select id="getIndicatorsByUserId" parameterType="map"  resultMap="IndicatorResult">
        SELECT
        i.indicator_id,
        i.date,
        i.tariff_per_date,
        i.value,
        i.is_paid,
        i.is_published,
        wm.water_meter_id,
        wm.name,
        wm.description,
        wm.tariff
        FROM indicator i
        LEFT OUTER JOIN watermeter wm on wm.water_meter_id = i.water_meter_id
        LEFT OUTER JOIN address a on wm.address_id = a.address_id
        WHERE a.user_id = #{userId}
        ORDER BY i.date DESC
        LIMIT #{number}
    </select>


    <insert id="insertIndicator" parameterType="Indicator" useGeneratedKeys="true" keyProperty="indicatorId">
        INSERT INTO indicator(date, tariff_per_date, value, is_paid, is_published, water_meter_id)
        VALUES(#{date}, #{waterMeter.tariff}, #{value}, #{paid}, #{published}, #{waterMeter.waterMeterId})
    </insert>

    <update id="updateIndicator" parameterType="Indicator">
        UPDATE indicator
        SET
        date= #{date},
        tariff_per_date = #{tariffPerDate},
        value = #{value},
        is_paid = #{paid},
        is_published = #{published}
        WHERE indicator_id = #{indicatorId}
    </update>

    <delete id="deleteIndicator" parameterType="int">
        DELETE FROM indicator WHERE indicator_id = #{indicatorId}
    </delete>

    <select id="getMinDate" resultMap="DateResult">
        SELECT
        min(date) as m_date
        FROM indicator
    </select>

    <select id="getMaxDate" resultMap="DateResult">
        SELECT
        max(date) as m_date
        FROM indicator
    </select>

</mapper>