<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softserveinc.if052_restful.mappers.IndicatorMapper">

    <!-- Result map for representation of water meter indicators -->
    <resultMap id="IndicatorResult" type="Indicator">
        <id property="indicatorId" column="indicator_id"/>
        <result property="date" column="date"/>
        <result property="value" column="value"/>
        <result property="paid" column="is_paid"/>
        <result property="published" column="is_published"/>
        <association property="waterMeter"
                     resultMap="com.softserveinc.if052_restful.mappers.WaterMeterMapper.WaterMeterSimpleResult"/>
    </resultMap>

    <!-- Result map for representation of indicator -->
    <resultMap id="IndicatorSimpleResult" type="Indicator">
        <id property="indicatorId" column="indicator_id"/>
        <result property="date" column="date"/>
        <result property="value" column="value"/>
        <result property="paid" column="is_paid"/>
        <result property="published" column="is_published"/>
    </resultMap>

    <select id="getIndicatorById" parameterType="int" resultMap="IndicatorResult">
        SELECT
        i.indicator_id,
        i.date,
        i.value,
        i.is_paid,
        i.is_published,
        wm.water_meter_id,
        wm.name,
        wm.description
        FROM indicator i
        LEFT OUTER JOIN watermeter wm on i.water_meter_id = wm.water_meter_id
        WHERE indicator_id = #{indicatorId}
    </select>

    <select id="getAllIndicators" resultMap="IndicatorResult">
        SELECT
        i.indicator_id,
        i.date,
        i.value,
        i.is_paid,
        i.is_published,
        wm.water_meter_id,
        wm.name,
        wm.description
        FROM indicator i
        LEFT OUTER JOIN watermeter wm on i.water_meter_id = wm.water_meter_id
    </select>

    <select id="getIndicatorsByWaterMeter" resultMap="IndicatorResult">
        SELECT
        i.indicator_id,
        i.date,
        i.value,
        i.is_paid,
        i.is_published,
        wm.water_meter_id,
        wm.name,
        wm.description
        FROM indicator i
        RIGHT JOIN watermeter wm on i.water_meter_id = wm.water_meter_id
        WHERE wm.water_meter_id = #{waterMeterId}
    </select>

    <insert id="insertIndicator" parameterType="Indicator" useGeneratedKeys="true" keyProperty="indicatorId">
        INSERT INTO indicator(date, value, is_paid, is_published, water_meter_id)
        VALUES(#{date}, #{value}, #{paid}, #{published}, #{waterMeter.waterMeterId})
    </insert>

    <update id="updateIndicator" parameterType="Indicator">
        UPDATE indicator
        SET
        date= #{date},
        value = #{value},
        is_paid = #{paid},
        is_published = #{published},
        water_meter_id = #{waterMeter.waterMeterId}
        WHERE indicator_id = #{indicatorId}
    </update>

    <delete id="deleteIndicator" parameterType="int">
        DELETE FROM indicator WHERE indicator_id = #{indicatorId}
    </delete>

</mapper>