<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softserveinc.if052_restful.mappers.WaterMeterMapper">

    <resultMap id="WaterMeterResult" type="WaterMeter">
        <id property="waterMeterId" column="water_meter_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <association property="address" javaType="Address" resultMap="AddressResultSimple"/>
        <collection property="indicators" ofType="Indicator"
                    resultMap="IndicatorResultSimple" column="indicator_">
        </collection>
    </resultMap>


    <resultMap id="IndicatorResultSimple" type="Indicator">
        <id property="indicatorId" column="indicator_id"/>
        <result property="date" column="date"/>
        <result property="value" column="value"/>
        <result property="isPaid" column="is_paid"/>
        <result property="isPublished" column="is_published"/>
    </resultMap>


    <resultMap id="WaterMeterResultSimple" type="WaterMeter">
        <id property="waterMeterId" column="water_meter_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
    </resultMap>

    <resultMap type="Address" id="AddressResultSimple">
        <id property="addressId" column="address_id"/>
        <result property="city" column="city"/>
        <result property="street" column="street"/>
        <result property="building" column="building"/>
        <result property="apartment" column="apartment"/>
        <result property="userId" column="user_id"/>
    </resultMap>


    <select id="getWaterMeterById" parameterType="int" resultMap="WaterMeterResult">
        SELECT
        wm.water_meter_id, wm.name, wm.description,
        a.address_id, a.city, a.street, a.building, a.apartment,
        i.indicator_id, i.date, i.value, i.is_paid, i.is_published
        FROM watermeter wm
        LEFT OUTER JOIN indicator i on wm.water_meter_id = i.water_meter_id
        LEFT OUTER JOIN address a on wm.address_id = a.address_id
        WHERE wm.water_meter_id = #{waterMeterId}
    </select>

    <select id="getAllWaterMeters" resultMap="WaterMeterResultSimple">
        SELECT
        wm.water_meter_id, wm.name, wm.description
        FROM watermeter wm
    </select>

    <update id="updateWaterMeter" parameterType="WaterMeter">
        UPDATE watermeter
        SET
        name = #{name},
        description = #{description},
        address_id = #{address.addressId}
        WHERE water_meter_id = #{waterMeterId}
    </update>

    <delete id="deleteWaterMeter" parameterType="int">
        DELETE FROM watermeter WHERE water_meter_id = #{waterMeterId}
    </delete>

    <insert id="insertWaterMeter" parameterType="WaterMeter" useGeneratedKeys="true" keyProperty="waterMeterId">
        INSERT INTO watermeter(name, description, address_id)
        VALUES(#{name}, #{description}, #{address.addressId})
    </insert>


</mapper>