<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softserveinc.if052_restful.mappers.WaterMeterMapper">

    <resultMap id="WaterMeterResult" type="WaterMeter">
        <id property="waterMeterId" column="water_meter_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="addressId" column="address_id"/>
        <collection property="indicators" ofType="Indicator"
                    resultMap="com.softserveinc.if052_restful.mappers.IndicatorMapper.IndicatorResult" column="indicator_">
        </collection>
    </resultMap>




    <select id="getWaterMeterById" parameterType="int" resultMap="WaterMeterResult">
         SELECT
         wm.water_meter_id, wm.name, wm.description, wm.address_id,
         i.indicator_id, i.date, i.value, i.is_paid, i.is_published, i.water_meter_id
         FROM WaterMeter wm left outer join Indicator i on wm.water_meter_id = i.water_meter_id
         WHERE wm.water_meter_id = #{waterMeterId}
        <!--SELECT
        wm.water_meter_id, wm.name, wm.description, wm.address_id
        FROM watermeter wm
        WHERE wm.water_meter_id = #{waterMeterId}-->
    </select>

    <select id="getAllWaterMeters" resultMap="WaterMeterResult">
        <!--SELECT
        wm.water_meter_id, wm.name, wm.description, wm.address_id, i.value
        FROM WaterMeter wm left outer join Indicator i on wm.water_meter_id = i.water_meter_id -->
        SELECT
        wm.water_meter_id, wm.name, wm.description, wm.address_id
        FROM watermeter wm
    </select>

    <update id="updateWaterMeter" parameterType="WaterMeter">
        UPDATE watermeter
        SET
        name = #{name},
        description = #{description},
        address_id = #{addressId}
        WHERE water_meter_id = #{waterMeterId}
    </update>

    <delete id="deleteWaterMeter" parameterType="int">
        DELETE FROM watermeter WHERE water_meter_id = #{waterMeterId}
    </delete>

    <insert id="insertWaterMeter" parameterType="WaterMeter" useGeneratedKeys="true" keyProperty="waterMeterId">
        INSERT INTO watermeter(name, description, address_id)
        VALUES(#{name}, #{description}, #{addressId})
    </insert>


</mapper>